*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Lato';
    background-color: #17171F;
}



.wrapper{
    width: 1111px;
    margin: 0 auto;
}

/* .banner::before{
    content: '';
    display: flex;
    background-color: rgba(0, 0, 0, 0.596);
    width: 100%;
    height: 100%;
    z-index: -9999999999999;
} */

/* .banner::after{
    content: '';
    display: flex;
    background-color: rgba(0, 0, 0, 0.596);
    width: 100%;
    height: 900px;
    z-index: 1;
    top: 400%;
} */

.banner{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-image: url(./images/bg-main-4.png);
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    transition: ease-in-out 1s;
    position: relative;
    
}




.banner .bg-images{
    width: 100%;
    height: 100%;
    position: absolute;
    animation: animate 30s infinite 10s backwards;
    opacity: 0;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
}

.banner .bg-images:nth-child(2){
    animation-delay:5s ;
}
.banner .bg-images:nth-child(3){
    animation-delay:10s ;
}
.banner .bg-images:nth-child(4){
    animation-delay:15s ;
}
.banner .bg-images:nth-child(5){
    animation-delay:20s ;
}
.banner .bg-images:nth-child(6){
    animation-delay:25s ;
}

@keyframes animate {
    10%{
        opacity: 1;
    }

    20%{
        opacity: 1;
    }

    30%{
        opacity: 0;
    }

    40%{
        transform: scale(1.2);
    }

    50%{
        transform: scale(1);
    }
}




.about-area,
.service-area,
.work-area,
.contact-area{
    height: 100vh;
}

.hero-content,
.about-content,
.services-content,
.works-content,
.contact-content{
    display: grid;
    justify-content: center;
    align-content: center;
    padding-top: 30px;
    
}

.hero-content h1{
    text-transform: uppercase;
    /* text-align: center; */
    padding-top: 100px;
    font-size: 200px;
    margin: 0;
    color: white;
    transition: 0.5s;
    text-shadow: 0 1px 0 #ccc, 
    0 2px 0 rgb(221, 52, 52), 
    0 3px 0 rgb(157, 255, 0), 
    0 4px 0 rgb(0, 255, 234), 
    0 5px 0 #ccc, 
    0 6px 0 #ccc, 
    0 7px 0 #ccc, 
    0 8px 0 #ccc,
    0 9px 0 #ccc,
    0 10px 0 #ccc,
    0 11px 0 #ccc,
    0 12px 0 #ccc,
    0 20px 30px rgba(0, 0, 0, 0.5);
    /* text-shadow: 0 5px 10px #000; */
    animation: slide-in 2s ease-in-out  1;
    width: max-content;
    /* display: none; */
    z-index: 1;
}

.hero-content h1:hover{
    transform: scale(1.1);
}

@keyframes slide-in {
    from{
        opacity: 0%;
        transform: translateX(0%);
    }

    to{
        opacity: 100%;
        transform: translateX(20%);

    }
}

.hero-content .hero-sub-header{
    /* text-align: center; */
    font-size: 50px;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    z-index: 1;
}

.hero-content .hero-sub-header .small{
    font-size: 15px;
    animation: shine 3s ease-in-out 0s infinite;
    transition: color ease-in-out 1s;
    z-index: 1;
}

@keyframes shine {
    25%{
        color: white;
    }
    50%{
        color: #006eff;
    }
    75%{
       color: #ffe600; 
    }
    100%{
        color: aqua;
    }
}

.hero-content span.hero-about{
    /* text-align: center; */
    /* padding-left: 20px; */
    padding-top: 10px;
    color: #ffffff;
    transition: ease-in-out 1s ;
    z-index: 1;
    
}

.hero-content span.hero-about:hover{
    text-shadow: 1.5px 0 #ccc, 
        0 10px 20px rgba(0, 0, 0, 0.5); 
}


.hero-content div.hero-btns{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 10px;
    z-index: 1;
}




.hero-content div.hero-btns a:nth-child(1){
    text-align: center;
    font-size: 15px;
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px;
    width: 80px;
    text-decoration: none;
    color: #fff;
    border-radius: 2.5px;  
    transition:  all   .3s;
    animation: show-btn 1.5s ease-in-out 3s 1;
}


.hero-content div.hero-btns a:nth-child(1):hover{
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* width: 90px; */
    transform: scaleX(1.1);
    box-shadow: 0px 2px 0px #312c00;
    color: white;
    
}

.hero-content div.hero-btns a:nth-child(2){
    text-align: center;
    font-size: 15px;
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px;
    width: 80px;
    text-decoration: none;
    color: #fff;
    border-radius: 2.5px;  
    transition:  all .3s;
    animation: show-btn 1.5s ease-in-out 3s 1;
}

.hero-content div.hero-btns a:nth-child(2):hover{
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transform: scaleX(1.1);
    box-shadow: 0px 2px 0px #0a2a53;
    color: white;
}



@keyframes show-btn {
    25%{
        /* opacity: 0%; */
        /* width: 0px; */
        transform: scale(0);

    }

    50%{
        /* opacity: 100%; */
        /* width: 80px; */
        transform: scale(1);
    }

    75%{
        transform: scale(1.2);
    }

    /* 100%{
        transform: scale(0);
    } */
}

.side-navbar{
    height: 100%;
    width: 248px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background:#17171F;
    overflow-x: hidden;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-navbar span.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    width: 100%;
}

.side-navbar .my-pix{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.side-navbar a{
    /* padding-top: 50px; */
    width: 100% ;
    padding-top: 20px;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #565666;
    transition: all 1s ease-out;
    /* animation: slide-out 1s ease-in-out .5s 1 ; */
}


/* @keyframes slide-out {
    from{
        padding-left: 0;
        font-size: 0;
        width: 0;
        opacity: 0%;
    }

    to{



        padding: 50px 10px 10px 50px;
        font-size: 18px; 
    }
} */

.side-navbar a:hover{
    text-shadow: 1.5px 0 #ccc, 
        0 10px 20px rgba(0, 0, 0, 0.5); 
}


.content-area{
    margin-left: 230px;
    padding: 0 10px;
}

#about{
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


#services{
   background: #17171F;
    /* padding-top:50px;
    padding-left: 30px;
    animation: flow 20s ease  infinite; */
}

.service-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.service-area .services-card{
    position: relative;
    width: 300px;
    height: 440px;
    box-shadow: 
    inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3),
    -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    /* margin: -1px; */
}



.service-area .services-card::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.service-area .services-card .service-box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: transparent;
    border: 2px solid #2a2b2f;
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}



.service-area .services-card .service-box::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}



.service-area .services-card .service-box:hover{
    box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5);
    transform: translateY(-50px);
}



.service-area .services-card .service-box .service-content{
    padding: 20px;
    text-align: center;
}



.service-area .services-card .service-box .service-content h2{
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 6em;
    color: rgba(0, 0, 0, 0.199);
}



.service-area .services-card .service-box .service-content h1{
    font-size: 35px;
    color: #ffe600;
    z-index: 1;
    transition: 1s;
}



.service-area .services-card .service-box .service-content p{
    font-size: 15px;
    font-weight: 400;
    color: #ffe600;
    z-index: 1;
    transition: 1s;
}


/* ecom service card special styling */
.service-area .services-card-special{
    position: relative;
    width: 350px;
    height: 540px;
    box-shadow: 
    inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3),
    -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    /* margin: 30px; */
}
.service-area .services-card-special::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}
.service-area .services-card-special .service-box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: transparent;
    border: 2px solid #2a2b2f;
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    transition: all 2s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.service-area .services-card-special .service-box:hover{
    background-color: #ffee00;
}
.service-area .services-card-special .service-box::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.service-area .services-card-special .service-box:hover{
    box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5);
    transform: translateY(-50px);
}
.service-area .services-card-special .service-box .service-content{
    padding: 20px;
    text-align: center;
}
.service-area .services-card-special .service-box .service-content h2{
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 6em;
    color: rgba(0, 0, 0, 0.199);
}
.service-area .services-card-special .service-box .service-content h1{
    font-size: 35px;
    color: #006eff;
    z-index: 1;
    transition: 1s;
}
.service-area .services-card-special .service-box .service-content p{
    padding-top: 20px;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    z-index: 1;
    transition: 1s;
}





#works{
    background-color: rgb(0, 255, 255);
}

#contact{
    background-color: rgb(128, 27, 27);
}